html {
  height: 1700px;
  width: 100%;
}

.center { /* class="center" */
  text-align: center;
}

.header {
  padding: 120px;
  margin: 0px 0px 0px 0px;
  color: #95fcad;
  font-size: 60px;
  text-shadow: -1px 1px 0 #000,
                1px 1px 0 #000,
                1px -1px 0 #000,
                -1px -1px 0 #000;
  background-image: url("images/cacti.jpeg");
  background-size: cover;
}

.navbar {
  width: 100%;
  height: 100px;
  overflow: hidden;
  background-color: #95fcad;
  margin: 0 0 0 0;
}

.button{ /* class="button" */
  border: none;
  background-color: #95fcad;
  padding: 30px;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 35px;
  font-weight: 300;
  font-family: "Georgia";
  margin: 0;
  cursor: pointer;
}

.button:hover {
  background-color: #474746;
  color: #95fcad;
  opacity: 0.7;
}

.active { /* active button */
  background-color: #6dd184;
}

.hiCactus{
  border: none;

  background-color: none;
  background-repeat: no-repeat;
  background-size: 140px 130px;
  height: 134px;
  width: 160px;

  padding: 30px 15px 30px 15px;
  margin: 0;

  background-image: url("images/hiCactus.jpeg");

  position: absolute;
  top: 800px;
  left: 5%;
}

.byeCactus{
  border: none;

  background-color: none;
  background-repeat: no-repeat;
  background-size: 90px 120px;
  height: 134px;
  width: 160px;

  padding: 30px 15px 30px 15px;
  margin: 0;

  background-image: url("images/byeCactus.jpeg");

  position: absolute;
  top: 1110px;
  left: 7%;
}

.dialogue{
  border: solid;
  border-color: black;
  border-width: 1px;
  border-radius: 12px;

  background-color: #99bbff;
  color: white;
  padding: 20px;
  margin: 0;

  text-align: center;
  font-family: "Georgia";
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
}
.one{
  position: absolute;
  top: 20px;
  left: 90%;
  width: 900px;
  height: 100px;
}
.two{
  position: absolute;
  top: 325px;
  left: 90%;
  width: 900px;
  height: 100px;
}

.choiceButton{
  border: solid;
  border-color: black;
  border-width: 1px;
  border-radius: 25px;

  background-color: #99bbff;
  color: black;
  padding: 20px;
  margin: 0;

  text-align: center;
  font-family: "Georgia";
  text-decoration: none;
  display: inline;
  font-size: 30px;
  cursor: pointer;

  position: absolute;
  top: 150px;
}
.choiceOne{
  left: 260px;
}
.choiceTwo{
  left: 460px;
}
.choiceThree{
  left: 660px;
}
.choiceFour{
  left: 860px;
}



#infoButton{
  border: solid;
  border-color: black;
  border-width: 2px;
  border-radius: 12px;

  background-color: #fed2c7;
  color: white;
  padding: 20px;
  margin: 0;

  text-align: center;
  font-family: "Georgia";
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  cursor: pointer;

  position: absolute;
  /*top: 780px;*/
  top:1350px;
  left: 31%;
  width: 500px;
  height: 100px;
}
#infoButton:hover{
  opacity: 0.8;
}

.playpause{ /*invisible button that covers over both playpauseButtons*/
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;


  position: relative;
  top: 770px;
  left: 41%;

  padding: 30px 78px 30px 15px;
  margin: 0;
}

.playpauseButton{
  border: solid;
  border-color: black;
  border-width: 2px;

  background-color: #fed2c7;
  color: white;
  padding: 30px 15px 30px 15px;
  margin: 0;
}

.playpauseLeft {
  position: relative;
  /*top: 200px;*/
  top: 770px;
  /*left: 70%;*/
  left:46%;
}

.playpauseRight {
  position: relative;
  top: 770px;
  left: 47.5%;
}

.forwardbackButton{
    border: none;

    background-color: white;
    background-repeat: no-repeat;
    background-size: 140px 130px;
    height: 134px;
    width: 160px;

    cursor:pointer;
    padding: 30px 15px 30px 15px;
    margin: 0;
}

.right{
  background-image: url("images/forward.png");

  position: relative;
  top: 808px;
  left: 44%;
}

.left{
  background-image: url("images/back.png");

  position: relative;
  top: 808px;
  left: 9.5%;
}
